<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
    <a href="https://{{ COGNITO_DOMAIN }}/oauth2/authorize?identity_provider=Okta&redirect_uri={{ COGNITO_REDIRECT_URL }}&response_type=CODE&client_id={{ COGNITO_APP_CLIENT_ID }}&scope={{ COGNITO_SCOPE }}">Login with SAML</a>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
